/*
MainBlue: #072AC8
Bright Yellow: #FFD85D
Orange: #FF844F
Pinky Red: #F14B3D
Green: #60D394
Light Grey: #F8F9FA
Really Grey: #595F65
*/

:root {
    --main-blue: #072AC8;
    --bright-yellow: #FFD85D;
    --orange: #FF844F;
    --pinky-red: #F14B3D;
    --green: #60D394;
    --light-grey: #EEEFEF;
    --really-grey: #595F65;
}

* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--light-grey);
}
/* --------------------------------------- */
/* HEADER */
/* --------------------------------------- */
header {
    background-color: var(--main-blue);
    color: #ffffff;
    padding: 28px;
}
header p {
    font-size: 26px;
    margin-bottom: 20px;

}
.search-header {
    max-width: 500px; 
}
.pokeball-img {
    width: 120px;
    height: 120px;
    top: 0;
    right: 0;
    transform: translate(30%, -23%);
    opacity: 0.5;
    pointer-events: none;
    float: right;
    margin-left: 20px;
}
.input-container {
    max-width: 300px;
    width: 100%;
    background-color: #ffffff;
    height: fit-content;
}
.input-container input {
    width: 100%;
    outline: none;
}
.input-button {
    border: none;
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.input-button:hover,
.input-button:focus {
    background-color: #555555;
}
.input-button:active {
    background-color: #222222; 
}
/* --------------------------------------- */
/* POKEMON LIST */
/* --------------------------------------- */
#pokemon-main-card {
    max-width: 80rem;
}
.pokemon-card-body {
    height: 150px;
}
.spinner-border {
    width: 4rem;
    height: 4rem;
}
.card {
    background-color: #ffffff;
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover, 
.card:focus {
    cursor: pointer;
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px #d3d3d3;
}
.card:active {
    transform: translateY(-2px) scale(0.98);
    box-shadow: 0 2px 4px #a8a8a8;
}

/* --------------------------------------- */
/* MEDIA QUERIES */
/* --------------------------------------- */
@media (min-width: 576px) {
    .pokemon-card-body {
        height: 180px;
    }
    .pokeball-img {
        width: 180px;
        height: 180px;
    }
}
@media (min-width: 768px) {
    .pokeball-img {
        width: 200px;
        height: 200px;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
    .pokemon-card-body {
        height: 200px;
    }
    header p {
        font-size: 30px;
    }
}