/*
MainBlue: #072AC8
Bright Yellow: #FFD85D
Orange: #FF844F
Pinky Red: #F14B3D
Green: #60D394
Light Grey: #F8F9FA
Really Grey: #595F65
*/

:root {
    --main-blue: #072AC8;
    --bright-yellow: #FFD85D;
    --orange: #FF844F;
    --pinky-red: #F14B3D;
    --green: #60D394;
    --light-grey: #EEEFEF;
    --really-grey: #595F65;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--main-blue);
    color: #ffffff;
    width: 100%;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.search-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; 
}

.pokeball-img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -23%);
    opacity: 0.5;
    pointer-events: none;
    float: right;
    margin-left: 20px;
}

header p {
    font-size: 26px;
    word-wrap: break-word; 
    margin-bottom: 20px;

}

.input-container {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 2px;
  max-width: 300px;
  width: 100%;
  background-color: #ffffff;
}

.input-icon {
  margin-right: 8px;
}

.input-container input {
  border: none;
  outline: none;
  flex: 1;
}

.input-button {
  border: none;
  background-color: hsl(0, 0%, 0%);
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.input-button:hover,
.input-button:focus {
  background-color: #555555;
}

.input-button:active {
  background-color: #222222; 
}

.pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    margin: 10px 0;
    padding: 0;
    font-size: 12px;
}

.pokemon-card {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.pokemon-card:hover, 
.pokemon-card:focus {
    cursor: pointer;
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px #d3d3d3;
}

.pokemon-card:active {
    transform: translateY(-2px) scale(0.98);
    box-shadow: 0 2px 4px #a8a8a8;
}


.pokemon-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-card-header p {
    margin: 5px;
}

.pokemon-card-body {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.pokemon-card-body img {
    width: 50%;
    height: 100%;
}

.pokemon-card-footer {
    display: flex;
    gap: 5px;
    color: #ffffff;
    justify-content: flex-start;
}

.pokemon-type-badge {
    border-radius: 5px;
    padding: 3px;
    flex: 1;
    text-align: center;
    width: auto;
}

.pokemon-card-footer .pokemon-type-badge:only-child {
    flex: none;
    width: 49%;
}

/* Tablet (600px and up) */
@media (min-width: 600px) {
    .pokeball-img {
        width: 180px;
        height: 180px;
    }
    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 13px;
    }
    .pokemon-card {
        width: 180px;
        height: 180px;
    }
}

/* Tablet Landscape (900px and up) */
@media (min-width: 900px) {
    .pokeball-img {
        width: 200px;
        height: 200px;
    }
    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 16px;
    }
    .pokemon-card {
        width: 220px;
        height: 220px;
        margin: 15px;
    }
}

/* Desktop (1200px and up) */
@media (min-width: 1200px) {
    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 18px;
    }
    .pokemon-card {
        width: 250px;
        height: 250px;
        margin: 20px;
    }
}

/* Large Desktop (1800px and up) */
@media (min-width: 1800px) {
    header p {
        font-size: 30px;
    }
    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        font-size: 22px;
    }
    .pokemon-card {
        width: 300px;
        height: 300px;
        margin: 25px;
    }
}